{escript_shebang, "#!/usr/bin/env escript\n"}.
{escript_comment, "%%\n"}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{escript_incl_apps, [lager]}.

{deps, [
        {lager, "0.9.0", {git, "git://github.com/basho/lager",
                            {branch, "master"}}}
        ]}.
